{% extends 'base.html' %}

{% block titlepage %}
    پروفایل
{% endblock %}

{% block mainContent %}
    <div class="row" style="margin-top: 20px;">

        <div class="col-md-9">
            <div>
                <p class="border"><span class="title">نام و نام خانوادگی: </span> {{ profile.user.get_full_name }} </p>
                <p class="border"><span class="title">جنسیت: </span> {{ profile.get_gender_display }}</p>
                <p class="border"><span class="title">مقدار اعتبار: </span> {{ profile.credit }}</p>
                <ul class="btnul">
                    <li><a class="btn btn-primary mb-5" href="{% url 'accounts:profile_edit' %}"> ویرایش پروفایل</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 mb-5" dir="ltr">
            <img src="{{ profile.profile_pic.url }}" style="width:100%;height:auto">
        </div>

    </div>
{% endblock %}